main {
  background-image: url(https://i.pinimg.com/originals/e2/a3/f7/e2a3f767395688206be60fb8e9453b96.jpg) ;
  min-height: 50rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;

}

header {
  height: 5rem;
  box-shadow: 0 2px 3px #00000069;
  background: url(https://ae01.alicdn.com/kf/HTB18hyroGmWBuNjy1Xaq6xCbXXa4/Cartoon-3d-Doodles-Music-Graffiti-photo-studio-background-Vinyl-cloth-High-quality-Computer-print-wall-backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 5rem;
  box-shadow: 0 -2px 3px #00000069;
  background: url(https://ae01.alicdn.com/kf/HTB18hyroGmWBuNjy1Xaq6xCbXXa4/Cartoon-3d-Doodles-Music-Graffiti-photo-studio-background-Vinyl-cloth-High-quality-Computer-print-wall-backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.album {
  text-align: center;
  height: 20rem;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 3px rgba(192, 192, 192, 0.767);
}

.album > img {
  text-align: center;
  width: 80%;
  height: 60%;
  text-align: center;
}


